:root {
  --primary-font-family: "Nunito", sans-serif;
  --footer-font-family: "Roboto", sans-serif;
  --hero-color: #ffffff;
  --primary-color: #272142;
  --secondary-color: #662eed;
  --step-color: #f65282;
}
body {
  font-family: var(--primary-font-family);
  background: var(--hero-color);
}

/* Navbar */
.navbar {
  background-color: var(--hero-color);
}
.logo {
  width: 100px;
}
.nav-link {
  color: var(--primary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
#active-link {
  color: var(--secondary-color);
}
h1,
h2 {
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: var(--hero-color);
}
h1 {
  font-size: 52px;
  line-height: 58px;
}
h2 {
  font-size: 18px;
  line-height: 25px;
}
.hero {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/images/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Footer */

footer {
  height: 100px;

  padding: 30px 60px;
  background: #f9f7fe;
}
p {
  font-family: var(--footer-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 3;

  text-align: right;
}
.icons {
  margin-left: 60px;
}
.icon {
  margin-right: 40px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 20px;
    line-height: 10px;
  }
  h2 {
    font-size: 10px;
    line-height: 10px;
  }

/* .recipe-card{
  margin:10px;
} */

  footer {
    padding: 30px 10px;
  }
  p {
    font-size: 9px;
    line-height: 3;
  }
  .icon {
    margin-right: 10px;
  }
  .icons {
    margin-left: 10px;
  }
  footer .logo{
    width: 50px;
  }
}
